@import "tailwindcss";

@keyframes marquee {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}

@keyframes slide-from-right {
  from { transform: translateX(100%); }
  to   { transform: translateX(0); }
}
@keyframes slide-from-left {
  from { transform: translateX(-100%); }
  to   { transform: translateX(0); }
}
@keyframes slide-to-left {
  from { transform: translateX(0); }
  to   { transform: translateX(-100%); }
}
@keyframes slide-to-right {
  from { transform: translateX(0); }
  to   { transform: translateX(100%); }
}

@utility drag-none {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}
